<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qulei.dao.UserDao">

    <sql id="Base_column">
        ID,NICKNAME,PHONE,EMAIL,PASSWORD,TOKEN
    </sql>

    <!--根据手机号查询用户-->
    <select id="getUserByphone" parameterType="String" resultType="User">
        SELECT <include refid="Base_column"/> from USER where phone = #{phone}
    </select>

    <!--根据邮箱查询用户-->
    <select id="getUserByemail" parameterType="String" resultType="User">
        SELECT <include refid="Base_column"/> from USER where email = #{email}
    </select>

    <!--修改用户信息-->
    <update id="updateUser" parameterType="UserDto">
        UPDATE USER
        <set>
            <if test="nickname!=null and nickname!='' ">nickname=#{nickname},</if>
            <if test="phone!=null and phone!='' ">phone=#{phone},</if>
            <if test="password!=null and password!='' ">password=#{password},</if>
            <if test="email!=null and email!='' ">email=#{email},</if>
            <if test="token!=null and token!='' ">token=#{token},</if>
        </set>
        WHERE id=#{id}
    </update>

    <!--新增用户-->
    <insert id="addUser" parameterType="UserDto">
        INSERT INTO USER
        (
        <trim suffixOverrides="," suffix=" ">
            <if test="id!= null and id!='' ">id,</if>
            <if test="password != null and password!='' ">password,</if>
            <if test="nickname != null and nickname!=''">nickname,</if>
            <if test="phone != null and phone!='' ">phone,</if>
            <if test="email != null and email!='' ">email,</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides="," suffix=" ">
            <if test="id!= null and id!='' ">#{id},</if>
            <if test="password != null and password!='' ">#{password},</if>
            <if test="nickname != null and nickname!=''">#{nickname},</if>
            <if test="phone != null and phone!='' ">#{phone},</if>
            <if test="email != null and email!='' ">#{email},</if>
        </trim>
        )
    </insert>

    <!--根据id查找用户-->
    <select id="getUserById" parameterType="String" resultType="User">
        SELECT <include refid="Base_column"/> from USER where id = #{id}
    </select>

    <!--用户登出-->
    <update id="logout" parameterType="UserDto">
        update user set token = null where id = #{id}
    </update>

    <select id="getUserByname" resultType="User" parameterType="String">
        SELECT <include refid="Base_column"/> FROM USER WHERE phone=#{name} or email=#{email}
    </select>
</mapper>